
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link href="~/css/about.css" rel="stylesheet" />
<div class="text-center">
    <h1>About Me</h1>
    <p>I have developed an interest in Front-end/web development when I started my career in the healthcare industry. At my current company, I get opportunities to communicate with IT team on a monthly basis. We often share our knowledge, being subject matter experts in our own areas of expertise, and this experience strengthened my interest in development. My next and most valuable decision was starting my journey in development at Grand Circus front-end bootcamp. While in the bootcamp, I learned HTML5, CSS3, JavaScript, Angular 7 and NodeJS. Additionally, I, along with a small team, built web applications which allowed the user to track their weekly budget. In order to accomplish this, the functionality had to be dynamically built to improve user experience (UX) as well as esthetics. I was able to design the wireframe and took charge of designing the user interface (UI). Currently, I am in the back-end development program learning how to code in C# language using .Net Core. </p>
</div>
<h2>Contact Information:</h2>
<div class="contact-info">
    
    <ul>
        <li class="links">Email: <a href="ilonabarashkina@gmail.com">ilonabarashkina@gmail.com</a></li>
        <li class="links">LinkedIn: <a href="https://www.linkedin.com/in/ilonarichmond/">https://www.linkedin.com/in/ilonarichmond/</a></li>
    </ul>
</div>
