@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="main">
        <div class="text-center">
            <h1 class="display-4">Back-End Developer</h1>
            <p>My name is Ilona and I am from Detroit, MI. I graduated in June 2019 from Grand Circus coding bootcamp with a certificate in Front-End development. Currently, I am in C# .Net coding bootcamp and absolutely love it. My passion for learning new languages and resolving challanges is endless. </p>
        </div>
        <h3>You can find me here:</h3>
        <div class="contact-info">

            <ul>

                <li class="links">Facebook: <a href="https://www.facebook.com/ilona.barashkina">https://www.facebook.com/ilona.barashkina/</a></li>
                <li class="links">Instagram: <a href="https://www.instagram.com/ilona_travelexplorer/">https://www.instagram.com/ilona_travelexplorer/</a></li>
            </ul>
        </div>
        <div class="flex">
            <div class="main-blogging">
                <h5>I am a blogger</h5>
                <img src="https://neilpatel.com/wp-content/uploads/2017/09/5-Common-Blogging-Mistakes-And-How-to-Fix-Them.jpg" alt="Image result for blogging images" height="100" />
                <p>
                    I’m not into fashion blogs all that much, what I can tell you most about this site is that the author’s personality takes the spotlight.It’s a personal fashion blog, so that makes sense, but the general principle here is that her personality is inserted without pause.
                </p>
            </div>

            <div class="main-developing">
                <h5>Passion For Development</h5>
                <img src="https://www.business.com/images/content/5a6/90b4e51ee4720458b456b/1500-0-" alt="Image result for coding images" height="100" />
                <p>I have developed an interest in Front-end/web development when I started my career in the healthcare industry. At my current company, I get opportunities to communicate with IT team on a monthly basis. While in the bootcamp, I learned HTML5, CSS3, JavaScript, Angular 7 and NodeJS. Currently, I am in the back-end development program learning how to code in C# language using .Net Core. </p>
            </div>

            <div class="main-hometown">
                <h5>My hometown is Kiev, Ukraine</h5>
                <img src="https://www.mywanderlust.pl/wp-content/uploads/2018/08/visit-kiev-ukraine-9.jpg" alt="Image result for ukraine kiev" height="100" />
                <p>Kiev is the capital of Ukraine, it has over 2 million of people living in the city. Kiev has amazing food choices from all over the world, all the restaurants are decorated with a taste. I try to go back and visit Kiev every year and walk around the Dnepr river. Its fun to take a boat ride and watch sunset.</p>
            </div>
        </div>
    </div>
</body>
</html>