@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>
    <div class="main">
        <div class="text-center">
            <img class="logo-image" src="https://www.independent.org/images/article_featured/2019/coding_laptop_1200x675.jpg" alt="Image result for coding" />
            <h1 class="display-4" style="font-family:Anton; color:black;">Back-End Developer</h1>
            <h3 style="font-family:Anton; color:black;">
                My passion for learning new languages and resolving challanges is endless.
            </h3>
           
        </div>
        <div class="flex">
            <div class="col">
                <a class="btn" href="https://www.facebook.com/ilona.barashkina"><i class="fab fa-facebook-f links"></i></a>
                <a class="btn" href="https://github.com/irichmond223"><i class="fab fa-github links"></i></a>
                <a class="btn" href=" https://www.instagram.com/ilona_travelexplorer/">
                    <i class="fab fa-instagram links"></i></a>
                <div class="adds-space">
                    <h5 style="font-family:Jura; color:black">Would you like to view my projects?</h5>
                    <a class="btn btn-lg display-1" style="font-family:Jura; background-color:#117A65; color:ghostwhite;" asp-controller="Home" asp-action="Portfolio">Projects</a>
                </div>
</div>

        </div>
        <!--<div class="flex">
            <div class="main-blogging">
                <h5>C# .NET and Front-End Development Experience</h5>
                <img src="https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/sale_24045_primary_image_wide-796x398.jpg"
                     alt="Image result for coding" />
                <p>
                    I have developed an interest in Front-end/web development when I started my career in the healthcare industry.
                    At my current company, I get opportunities to communicate with IT team on a monthly basis.
                    While in the bootcamp, I learned HTML5, CSS3, JavaScript, Angular 7 and NodeJS.
                    Currently, I am in the back-end development program learning how to code in C# language using .Net Core.
                </p>
            </div>
        </div>
           -->
        <!--div class="main-developing">
            <h5>Passion For Development</h5>
            <img class="rounded-img" src="https://www.business.com/images/content/5a6/90b4e51ee4720458b456b/1500-0-"
                 alt="Image result for coding images" height="100" />
            <p>I have developed an interest in Front-end/web development when I started my career in the healthcare industry.
            At my current company, I get opportunities to communicate with IT team on a monthly basis.
            While in the bootcamp, I learned HTML5, CSS3, JavaScript, Angular 7 and NodeJS.
            Currently, I am in the back-end development program learning how to code in C# language using .Net Core. </p>
        </div>

        <div class="main-hometown">
            <h5>Hometown: Kiev, Ukraine</h5>
            <img class="rounded-img" src="https://www.mywanderlust.pl/wp-content/uploads/2018/08/visit-kiev-ukraine-9.jpg"
                 alt="Image result for ukraine kiev" height="100" />
            <p>Kiev is the capital of Ukraine, it has over 2 million of people living in the city.
            Kiev has amazing food choices from all over the world, all the restaurants are decorated with a taste.
            I try to go back and visit Kiev every year and walk around the Dnepr river. Its fun to take a boat ride and watch sunset.</p>
        </div>


        </div>
        </div>
                -->
    </div>

    <script src="https://kit.fontawesome.com/2a6d697381.js" crossorigin="anonymous"></script>
</body>
</html>