
@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/portfolio.css" rel="stylesheet" />
<h1>Back-End Developer</h1>
<p>My projects are listed below that include projects created using C#, Angular7, and Typescript. Grocery Store POS is the POS system that allows the user to add their order selections to the shopping cart and checkout. Movie Fibder Application allows the user to locate movies based on specific search filters.</p>
<div class="flex-container">

    <h2>Projects</h2>
    <div class="text-center">
        <h2>Grocery Store POS</h2>
        <p>C#</p>
        <button onclick="window.location.href = 'https://github.com/irichmond223/MidtermPOS';">View Code</button>
    </div>
    <div class="text-center">
        <h2>Movie Finder Application</h2>
        <p>Typescript, Angular 7</p>
        <button onclick="window.location.href = 'https://github.com/irichmond223/movie-app.git';">View Code</button>
    </div>
</div>
    <script src="~/js/portfolio.js"></script>
