
@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/portfolio.css" rel="stylesheet" />
<h1>Back-End Developer</h1>
<p>
    My projects are listed below that include projects created using C#, Angular7, and Typescript. K.I.S.S. List Gift Application allows the user to pick a gift for you or pick a gift based on your preference. Coffee Shop Application allows a user to
    register, login, and buy coffee products. Grocery Store POS is the
    POS  system that allows the user to add their order selections to the shopping cart and checkout. Movie Finder Application
    allows the user to locate movies based on specific search filters.
</p>
<div class="flex-container">

    <h2>Projects</h2>

    <div class="text-center">
        <h3>K.I.S.S. List Gift Application</h3>
        <p class="main">C#, MVC .Net Core, Html/Css, Javascript</p>
        <button onclick="window.location.href = 'https://github.com/Rzilinski77/KissList';">View Code</button>
        <button onclick="window.location.href = 'https://kisslist.azurewebsites.net/';">View Website</button>
    </div>
    <div class="text-center">
        <h3>Coffee Shop Application</h3>
        <p class="main">C#, MVC .Net Core, Html/Css</p>
        <button onclick="window.location.href = 'https://github.com/irichmond223/CoffeeShop';">View Code</button>
        <button onclick="window.location.href = 'https://coffeeshopapp.azurewebsites.net/';">View Website</button>
    </div>
    <div class="text-center">
        <h3>Grocery Store POS</h3>
        <p class="main">C# Console Application</p>
        <button onclick="window.location.href = 'https://github.com/irichmond223/MidtermPOS';">View Code</button>
    </div>
    <div class="text-center">
        <h3>Movie Finder Application</h3>
        <p class="main">Typescript, Angular 7</p>
        <button onclick="window.location.href = 'https://github.com/irichmond223/movie-app.git';">View Code</button>
    </div>
</div>
<div class="text-center">
    <h3>Earthly Recycling Application</h3>
    <p class="main">Typescript, Angular 7</p>
    <button onclick="window.location.href = 'https://github.com/irichmond223/final-project';">View Code</button>
</div>

   



<script src="~/js/portfolio.js"></script>
