body {
}

.display-4 {
    margin: 1em;
}

.nav-flex {
    display: flex;
}
.nav-item {
    justify-items:flex-end;
}
.flex-grow-1 {
    flex-grow: 0 !important;
}
.flex, .main-blogging, .main-developing, .main-hometown {
    display: flex;
    margin-top:2em;
}

.main-blogging, .main-developing, .main-hometown {
    flex-direction:column;
    align-items: center;
    margin-right:1em;

}
.main-blogging:hover, .main-developing:hover, .main-hometown:hover {
    background:#D3D3D3;
    color: white;
}

.main-blogging, .main-developing, .main-hometown {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2em;
    padding: 2em;
    text-align: center;
}

.links {
    padding: 0;

}
.contact-info {
    text-align: center;
    flex-direction: row;
    display: flex;
    justify-content:center;
    text-align: left;
}
.nav-item:hover {
    color: lightgrey;
}
h3 {
    text-align: center;
}
h5 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial Verdana;
}

img {
    border-radius: 50%;
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (min-width: 700px) {
    img {
        width: 50%;
        height: auto;
        margin: 6px 0;
    }
}

